Numbers and Boolean Values - Exercise #1
Create a variable a equal to "True".

Check its type.

In [2]:
a = True
type(a)

bool

Create a variable b equal to 99.

Check its type.

In [4]:
b = 99
type(b)

int

Check the type of the value 0.99

In [6]:
type(0.99)

float

Create a variable b equal to 99.

Turn b into a float.

Consider using the print() function as a tool to help you solve this exercise.

In [11]:
b = 99
float(b)
print(float(b))

99.0

Exercise #5
Turn 0.99 into an integer.

In [12]:
print(int(0.99))

0