Exercise #1
Create a variable with name x and a value of 10. Execute.

Tell the computer to show you the value of that variable without utilizing the print() function, similar to what you would do in Jupyter.

In [11]:
x = 10
x

10

Exercise #2
Create a variable with name x and a value of 10. Execute

Can you think of a second way to obtain the same result?

In [13]:
x = 10
print(x)

10

Exercise #3
On the same line, create four new variables: a, b, c, and d, that are equal to 10, 20, 30, and 40, respectively.

In [15]:
a,b,c,d = (10,20,30,40)

Exercise #4
On the same line, create four new variables: a, b, c, and d, that are equal to 10, 20, 30, and 40, respectively.

Tell the computer to show you the value corresponding to the variable b.

Do the same for d.

In [16]:
a,b,c,d = (10,20,30,40)
print(b)
print(d)

20
40